<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435777621070-k34cg0e2qjbqmvh258bkerk058mis1tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435777621070-k34cg0e2qjbqmvh258bkerk058mis1tl</string>
	<key>API_KEY</key>
	<string>AIzaSyAAXhNTE5Sf5X-f2RenEEw3mTkR9dSXw-c</string>
	<key>GCM_SENDER_ID</key>
	<string>435777621070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beematch</string>
	<key>PROJECT_ID</key>
	<string>bee-match</string>
	<key>STORAGE_BUCKET</key>
	<string>bee-match.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435777621070:ios:9f49399a5ae129ecf1c71f</string>
</dict>
</plist>